.jumbotron{
  background-image: url(/home/mureithi/Documents/jquery-practice/IP3/assets/backgrounds/h_img.jpg);
  background-size: cover;
  text-align: center;
  padding:170px;
  color: white;
  padding-bottom: 20px;
  padding-right: 200px;
}
.logo{
      margin-bottom: 50px;
}
.cardie{
   text-align: center;
   font-family: 'Cabin', sans-serif;
}
.section1{
          background-image: url(/home/mureithi/Documents/jquery-practice/IP3/assets/backgrounds/s_image.jpg);
          padding: 50px;
          color: white;
          text-align: center;
          font-weight: bold;
          font-size: 15px;

}
.icons{
       text-align: center;
       display: flex;
       margin-top: 30px;
       margin-bottom: 30px;
      margin: 50px;
}
.design{
        margin-right: 100px;
}
.development{
             margin-right: 100px;
}
.product{
          margin-left: 100px;
}
.imagedes{
       padding: 70px;
       padding-left:
}
.imagedev{
       padding: 70px;
       padding-left:
}
.imagepro{
       padding: 70px;
       padding-left:
}
#DEV{
     display: none;
}
#design{
        display: none;
        columns: 100px 1;
}
#PRODUCT{
         display: none;
}
.column{
  float: left;
  margin: 20px;
  width: 25%;
  padding: 10px;
  margin-left: 20px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.icons{
       display: flex;
       text-align: center;
       margin-left: 100px;
}
h1{
  text-align: center;
}
.section2{
    background-image: url(/home/mureithi/Documents/jquery-practice/IP3/assets/backgrounds/c_image.jpg);
    padding: 60px;
}
input{
      background: inherit;
}
textarea{
  background: inherit;
}
.portfolio1{
          background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/home/mureithi/Documents/jquery-practice/IP3/assets/portfolio/work1.jpg);

           opacity: 0.8;
           color: black;
           font-weight: bold;
           font-family: 'Bebas Neue', cursive;
           font-size: 30px;
           display: none;
           padding-right: 200px;
           padding-top: 50px;
           padding-bottom: 10px;
           padding-left: 20px;
           columns: 100px 1;
           width: 300px;
}
.portfolio1>p{
            color: white;
            display: block;
            border-top: 10px;
            border-bottom: 10px;
            border-left: 10px;
            border-right: 10px;
            border-width: thick;
            border-style: solid;
            padding-right: 200px;
            padding-bottom: 50px


}
.portfolio2{
          background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/home/mureithi/Documents/jquery-practice/IP3/assets/portfolio/work2.jpg);
          opacity: 0.8;
          color: black;
          font-weight: bold;
          font-family: 'Bebas Neue', cursive;
          font-size: 30px;
          display: none;
          padding-right: 250px;
          padding-top: 50px;
          padding-bottom: 20px;
          padding-left: 50px;
          columns: 300px 1;
}
.portfolio2>p{
            color: white;
            display: block;
            border-top: 10px;
            border-bottom: 10px;
            border-left: 10px;
            border-right: 10px;
            border-width: thick;
            border-style: solid;
            padding-right: 200px;
            padding-bottom: 50px

}
.portfolio3{
          background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/home/mureithi/Documents/jquery-practice/IP3/assets/portfolio/work3.jpg);
          opacity: 0.8;
          color: black;
          font-weight: bold;
          font-family: 'Bebas Neue', cursive;
          font-size: 30px;
          display: none;
          padding-right: 250px;
          padding-top: 50px;
          padding-bottom: 20px;
          padding-left: 50px;
          columns: 300px 1;
}
.portfolio3>p{
            color: white;
            display: block;
            border-top: 10px;
            border-bottom: 10px;
            border-left: 10px;
            border-right: 10px;
            border-width: thick;
            border-style: solid;
            padding-right: 200px;
            padding-bottom: 50px

}
.portfolio4{
          background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/home/mureithi/Documents/jquery-practice/IP3/assets/portfolio/work4.jpg);
          opacity: 0.8;
          color: black;
          font-weight: bold;
          font-family: 'Bebas Neue', cursive;
          font-size: 30px;
          display: none;
          padding-right: 250px;
          padding-top: 50px;
          padding-bottom: 20px;
          padding-left: 50px;
          columns: 300px 1;
          width: 300px;
}
.portfolio4>p{
            color: white;
            display: block;
            border-top: 10px;
            border-bottom: 10px;
            border-left: 10px;
            border-right: 10px;
            border-width: thick;
            border-style: solid;
            padding-right: 200px;
            padding-bottom: 50px

}
.portfolio5{
          background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/home/mureithi/Documents/jquery-practice/IP3/assets/portfolio/work5.jpg);
          opacity: 0.8;
          color: black;
          font-weight: bold;
          font-family: 'Bebas Neue', cursive;
          font-size: 30px;
          display: none;
          padding-right: 250px;
          padding-top: 50px;
          padding-bottom: 20px;
          padding-left: 50px;
          columns: 300px 1;
}
.portfolio5>p{
            color: white;
            display: block;
            border-top: 10px;
            border-bottom: 10px;
            border-left: 10px;
            border-right: 10px;
            border-width: thick;
            border-style: solid;
            padding-right: 200px;
            padding-bottom: 50px

}
.portfolio6{
          background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/home/mureithi/Documents/jquery-practice/IP3/assets/portfolio/work6.jpg);
          opacity: 0.8;
          color: black;
          font-weight: bold;
          font-family: 'Bebas Neue', cursive;
          font-size: 30px;
          display: none;
          padding-right: 250px;
          padding-top: 50px;
          padding-bottom: 20px;
          padding-left: 50px;
          columns: 300px 1;
}
.portfolio6>p{
            color: white;
            display: block;
            border-color: white;
            border-top: 10px;
            border-bottom: 10px;
            border-left: 10px;
            border-right: 10px;
            border-width: thick;
            border-style: solid;
            padding-right: 200px;
            padding-bottom: 50px

}
.portfolio7{
          background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/home/mureithi/Documents/jquery-practice/IP3/assets/portfolio/work7.jpg);
          opacity: 0.8;
          color: black;
          font-weight: bold;
          font-family: 'Bebas Neue', cursive;
          font-size: 30px;
          display: none;
          padding-right: 250px;
          padding-top: 50px;
          padding-bottom: 20px;
          padding-left: 50px;
          columns: 300px 1;
}
.portfolio7>p{
            color: white;
            border-top: 10px;
            border-bottom: 10px;
            border-left: 10px;
            border-right: 10px;
            border-width: thick;
            border-style: solid;
            padding-right: 200px;
            padding-bottom: 50px

}
.portfolio8{
          background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/home/mureithi/Documents/jquery-practice/IP3/assets/portfolio/work8.jpg);
          opacity: 0.8;
          color: black;
          font-weight: bold;
          font-family: 'Bebas Neue', cursive;
          font-size: 30px;
          display: none;
          padding-right: 250px;
          padding-top: 50px;
          padding-bottom: 20px;
          padding-left: 50px;
          columns: 300px 1;
}
.portfolio8>p{
            color: white;
            display: block;
            border-top: 10px;
            border-bottom: 10px;
            border-left: 10px;
            border-right: 10px;
            border-width: thick;
            border-style: solid;
            padding-right: 200px;
            padding-bottom: 50px

}
.social{
        display: flex;
        padding-left: 300px;
        padding-right: 300px;
        flex-wrap: wrap;
}
.end{
     text-align: center;
}
.behance{
  padding-right: 15px;
}
.flickr{
  padding-right: 15px;
}
.youtube{
  padding-right: 15px;
}
.dribble{
  padding-right: 15px;
}
.facebook{
  padding-right: 15px;
}
.pinterest{
  padding-right: 15px;
}
.skype{
  padding-right: 15px;
}
.twitter{
  padding-right: 15px;
}
.stumble{
  padding-right: 15px;
}
.gplus{
  padding-right: 15px;
}
.first4{
        display: inline-flex;
        width: 1050px;
        margin-right: 500px;
        padding-right: 50px;
}
.last4{
        display: flex;
        width: 1050px;
        margin-right: 500px;
        padding-right: 50px;
}
